.single-player{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    flex:1;
    place-items: center;
    padding: 0 5px 15px 0px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    background-color: rgb(220, 225, 226);
    width: 90%;
}

.single-player:hover{
    background-color: rgb(246, 248, 248);
    box-shadow: 5px 8px 11px 0px rgba(236, 239, 240, 0.81);

}

.single-player img{
    height: 200px;
    height: 150px;
}

.sports-button{
    font-size: 1rem;
    background: #2a6592;
    outline: none;
    border: none;
    color: #e7e9eb;
    padding: .6rem 1rem;
    border-radius: 50px;
    /* margin-top: 10px; */
    transition: all .5s ease-in-out;
}

.sports-button:hover{
    background: #e7e9eb;
    color: #2a6592;
    border: 1px solid #2a6592;
    cursor: pointer;

}


.single-player i{
    margin: 0 1rem;
}

.single-player p{
    margin: 5px 0;
}

.player-cart{
    position:fixed;
}