.show-all-players{
    display: flex;
    flex-direction: row;
}
.player-box-left{
    width:70%;
    background-color: rgb(234, 236, 238);
    padding: 2rem;
}
.player-box-right{
    width:30%;
    padding: 2rem;
    background-color: rgb(230, 226, 226);
}

.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    place-items: center;
    /* background-color: black; */

}